body {
    padding: 10px
}

.head-container {
    text-align: center;
}

.address-container {
    text-align: center;
    font-size: 12px;

}

.m-0 {
    margin: 0;
}

.summary-content {
    text-align: center;
}

.exp-head {
    letter-spacing: 0.1rem;
}

.exp-title {
    margin-bottom: 0;
}

.li-content {
    margin-left: 25px;
}